In [ ]:
import pandas as pd

Subset data with Pandas

In [ ]:
df = pd.read_csv(
    "/content/sample_data/california_housing_train.csv",
    usecols=["population", "median_income"]
    )

df.head()

   population  median_income
0      1015.0         1.4936
1      1129.0         1.8200
2       333.0         1.6509
3       515.0         3.1917
4       624.0         1.9250

Filter data with Pandas

In [ ]:
df[df['median_income'] > 3].head()

    population  median_income
3        515.0         3.1917
5        671.0         3.3438
13      1346.0         3.2120
23       137.0         3.2097
25       327.0         3.6528

In [ ]:
df[(df['median_income'] > 3) & (df['population'] > 1000)].head()

    population  median_income
13      1346.0         3.2120
26      1130.0         3.5735
67      1188.0         3.0091
70      1447.0         3.2593
76      1164.0         3.8177

Find top 5 largest and smallest median incomes.

In [ ]:
df.nlargest(5, "median_income")

      population  median_income
1625      1011.0        15.0001
3338       735.0        15.0001
4461       268.0        15.0001
4626       964.0        15.0001
5048       956.0        15.0001

In [ ]:
df.nsmallest(5, "median_income")

      population  median_income
340        108.0         0.4999
2888        44.0         0.4999
4502        15.0         0.4999
4689       142.0         0.4999
6631        74.0         0.4999

# Recode data

In [ ]:
data = pd.Series(data=["female", "male", "male", "female", "female"])
random_df = pd.DataFrame(data=data, columns=["sex"])

In [ ]:
def recode(sex):
    if sex == "male":
        return 1
    else:
        return 0

random_df['sex'] = random_df['sex'].apply(recode)
random_df

   sex
0    0
1    1
2    1
3    0
4    0

In [ ]:
random_df['sex'] = random_df['sex'].apply(lambda x: 1 if x == "male" else 0)

In [ ]:
import numpy as np

random_df['sex'] = np.where(random_df['sex'] == "male", 1, 0)

# Transform data with Python

In [ ]:
log_income = np.log(df['median_income'])
log_income.head()

0    0.401189
1    0.598837
2    0.501321
3    1.160554
4    0.654926
Name: median_income, dtype: float64

# (Un)common data wrangling operations

In [ ]:
# Grouping data
random.groupby("day_of_wek")

In [ ]:
# Aggregating data
df['population'].agg(np.median)

1167.0

In [ ]:
# Querying data
df.query('population <= 1000 & median_income >= 3').head()

    population  median_income
3        515.0         3.1917
5        671.0         3.3438
23       137.0         3.2097
25       327.0         3.6528
32       481.0         6.2558

In [ ]:
numbers = ['1', '2' , '3', '4']

print(type(numbers[0]))

# Change type
numbers = list(map(int, numbers))

print(type(numbers[0]))

<class 'str'>
<class 'int'>

In [ ]:
df['population'].astype(str).head()

0    1015.0
1    1129.0
2     333.0
3     515.0
4     624.0
Name: population, dtype: object

In [ ]:
 pd.to_numeric(df.population).head()

0    1015.0
1    1129.0
2     333.0
3     515.0
4     624.0
Name: population, dtype: float64

In [ ]:
# Reordirng
df['population'].sort_values(ascending=False).head()

2274     35682.0
12772    28566.0
2871     16122.0
2969     15507.0
3296     15037.0
Name: population, dtype: float64

In [ ]:
# Reorder columns
column_names_reordered = ["3", "2", "1"]

df = df.reindex(columns=column_names_reordered)

In [ ]:
# Join data

data_1 = df[:3]
data_2 = df[3:6]

joined_data = pd.concat([data_1, data_2], axis=0)
joined_data

   population  median_income
0      1015.0         1.4936
1      1129.0         1.8200
2       333.0         1.6509
3       515.0         3.1917
4       624.0         1.9250
5       671.0         3.3438

In [ ]:
# Rename data
df.rename(columns = {'old_col1':'new_col1', 'old_col2':'new_col2'}, inplace = True)

# Pivot data with Pandas

In [ ]:
df = pd.read_csv(
    "/content/sample_data/california_housing_train.csv"
    )

df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [ ]:
table = pd.pivot_table(data=df,index=['households'])
table.tail()

,housing_median_age,latitude,longitude,median_house_value,median_income,population,total_bedrooms,total_rooms
households,,,,,,,,
4616.0,10.0,33.98,-117.34,103400.0,1.7579,9851.0,4952.0,17286.0
4769.0,14.0,33.35,-117.42,134400.0,2.5729,35682.0,4819.0,25135.0
5050.0,8.0,34.03,-117.78,253900.0,6.0191,15507.0,5290.0,32054.0
5189.0,4.0,33.89,-117.74,366300.0,7.4947,16122.0,5471.0,37937.0
6082.0,11.0,36.64,-121.79,118800.0,2.3087,28566.0,6445.0,32627.0

# Wrangling Text Data

In [1]:
# Splitting text data
sentence = "Hello Algotrading101 readers! I hope that you are having a nice day."

words = sentence.split(" ")
print(words)

['Hello', 'Algotrading101', 'readers!', 'I', 'hope', 'that', 'you', 'are', 'having', 'a', 'nice', 'day.']

In [4]:
# (De)capitalize text data
word = 'pumpkin'

print(word.upper())
print(word.lower())
print(word.capitalize())

PUMPKIN
pumpkin
Pumpkin

In [5]:
# Join text data
print(' '.join(words))

Hello Algotrading101 readers! I hope that you are having a nice day.